@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>@ViewData["Message"]</p>

<p>Professor @ViewData["Professor"]</p>

<p>Para mais informações acesse <a href="http://educamaisbrasil.com.br">EducaMais Brasil</a>.</p>
